header
{
    background-color: blue;
}
nav
{
    background-color: blueviolet;
}
video
{
    background-color: pink;
}
aside
{
    background-color: sandybrown;
}
footer
{
    background-color: plum;
}
h1
{
    background-color: red;
}
h2
{
    background-color: seagreen;
}
article
{
    background-color: teal;
}
section
{
    background-color: yellowgreen;
}
#ulnav
{
    margin: 0;
    padding: 0;
}
.linav
{
    display: inline;
}

